body,h1, h2 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://www.stab.org/uploaded/Page_Images/Posts/LV_Drone_2016.png?1506102838727');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.darken {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
}
.shadow {
    text-shadow: 2px 2px 4px #050505;
}
.progress {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.6);
}
.progress-bar {
    background-color: rgba(51, 102, 255, 0.6);
}